{"aten_op": "aten::empty.memory_format", "handle": "Customize", "unbox_registration": true}
{"aten_op": "aten::reshape", "handle": "Customize", "unbox_registration": false}
{"aten_op": "aten::view", "handle": "Customize", "unbox_registration": false}
{"aten_op": "aten::copy_", "handle": "Customize", "unbox_registration": false}
{"aten_op": "aten::add.Tensor", "handle": "Generated", "unbox_registration": false, "onnx_op": "Add", "inputs": [0, 1]}
{"aten_op": "aten::sub.Tensor", "handle": "Generated", "unbox_registration": false, "onnx_op": "Sub", "inputs": [0, 1]}
{"aten_op": "aten::mul.Tensor", "handle": "Generated", "unbox_registration": false, "onnx_op": "Mul", "inputs": [0, 1]}
{"aten_op": "aten::relu", "handle": "Generated", "unbox_registration": false, "onnx_op": "Relu", "inputs": [0]}