# other requirements
wget
pandas
Pillow 
torchvision
setuptools
wheel

# torch ort module requirements
torch-ort-infer[openvino]

# Jupyter requirements
jupyterlab

# BERT quantization notebook requirements
transformers
