# required for CI test
pandas
scikit-learn
numpy==2.1.0 ; python_version < '3.11'
numpy==2.1.0 ; python_version >= '3.11'
transformers==v4.4.2
torch
torchvision
torchtext
tensorboard>=2.2.0,<2.5.0
h5py
wget
--pre onnxruntime-gpu==ort-gpu-nightly-training
# required for build
setuptools
build
twine
wheel
datetime
