
# This action is based on the automation in pytorch/serve. Edit as appropriate
# TODO: Uncomment this when the automation should run on commits to main
#on:
#  push:
#    branches:
#      - main
# TODO: Comment or delete this whole section when automation should run on commits to main
on: 
  workflow_dispatch:
jobs:
  build_docs_job:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: [3.8]
    steps:
    - name: Checkout
      uses: actions/checkout@v2
    - name: Dependencies
      run: |
        echo `python3 --version`
        sudo apt-get install -y python-setuptools
        python3 -m pip install --upgrade pip
        python3 -m pip install --upgrade protobuf
        python3 -m pip install -U sphinx
        python3 -m pip install setuptools
        python3 -m pip install torch
        python3 -m pip install -e git+git://github.com/pytorch/pytorch_sphinx_theme.git#egg=pytorch_sphinx_theme
        python3 -m pip install recommonmark
        python3 -m pip install katex
        python3 -m pip install sphinxcontrib.katex
        python3 -m pip install sphinx_markdown_tables
        python3 -m pip install --pre onnxruntime-training -f https://download.onnxruntime.ai/onnxruntime_nightly_cpu.html
        python3 -m pip install torch-ort
        python3 -m torch_ort.configure
    - name: Build the docset
      run: cd ./docs/sphinx ; export PATH=$PATH:$(python3 -m site --user-base)/bin/ ; make html
      id: build
    - name: Deploy
      uses: JamesIves/github-pages-deploy-action@releases/v3
      with:
          ACCESS_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          BRANCH: gh-pages # The branch the action should deploy to.
          FOLDER: docs/sphinx/build/html
          CLEAN_EXCLUDE: '["_config.yml"]'
